/vendor
*.gem
Gemfile.lock


.env
*.swp
*.swo
/.bundle
/log
/tmp
/node_modules
/.vscode
/.idea


proto/*.pb.rb
proto/*.services_pb.rb


Dockerfile~
docker-compose.override.yml
/.dockerignore
/.envrc
/.cache


.aws/
.credentials


*.log
*.pid
*.seed
*.bak
