# Node.js dependencies
node_modules/
 
# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
 
# Runtime data
pids/
*.pid
*.seed
*.pid.lock
 
# Directory for compiled code
dist/
build/
 
# Environment variables
.env
 
# Miscellaneous
.DS_Store
Thumbs.db
 
# IDE and editor settings
.vscode/
.idea/
*.swp
*.swo

#json files
jwtSecret.json